@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #18181b;
  color: white;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}